
.container {
    display: none;
}

@media (max-width: 600px) {
    .container { display: block; }

    .container {
        display: flex;
        flex-direction: column;
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem 1.5rem;
        width: 100%;
        background-image: linear-gradient(to bottom, #64312f, #582624);
    }

    .header hr { width: 100%; color: #fff; }
    .header p {
        text-align: center;
        color: #fff;
        font-size: 25px;
    }
    .header div {
        display: flex;
        justify-content: space-between;
    }

    .header img {
        width: 60px;
        height: 25px;
    }

    .header span {
        font-size: 20px;
        color: #fff;
        cursor: pointer;
    }

    .spot {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem 1.5rem;
        width: 100%;
        background-color: #1d1e22;
    }

    .spot h3 {
        text-align: center;
        font-size: 30px;
        color: #fff;
    }

    .spot p {
        color:#fff
    }
}