
.container {
    display: none;
}

@media (max-width: 600px) {
    .container { display: block; }

    .container {
      padding: 3rem 1.5rem;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 0 auto;
      background-color: #071146;
      color: #fff;
      margin-top: 100% !important;
    }

    .logo img {
        width: 30px;
        height: 30px;
    }

    .logo p {
        font-size: 20px;
    }
  
    .media {
        display: flex;
        justify-content: space-between;
    }
    .media a {
        text-align: center;
        font-size: 40px;
        background-color: #fff;
        margin: 2px;
        border-radius: 5px; 
        cursor: pointer;
    }

    .media a i {
        width: 55px;
    }

    .media a { color: blue; }

    .media a:last-child {
        color: red;
    }

    .download {
        padding: 0.5rem 0rem;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        /* margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-start; */
    }

    .download div {
        margin: -1.5rem 0rem;
        display: flex;
    }

    .download img {
        display: flex;
        width: 150px;
    }

    .copyright {
        /* font-size: 15px; */
        /* margin-top: -10px; */
    }

}