.container {
    width: 100%;
    padding: 3% 6% 3% 6%;
}

.body img {
  width: 12%;
}

.img {
  position: absolute;
  top: 13vh;
  right: 11%;
  width: 300px !important;
  height: 500px;
}

.body p {
  top: 35vh;
  color: #fff;
  font-size: 50px;
  letter-spacing: 3px;
  position: absolute;
}


.body nav img {
  position: absolute;
  top: 53vh;
  width: 15%;
  left: 5%;
  cursor: pointer;
}

.footer{
  position:absolute;
  bottom:9%;
  width: 90%;
}

.footer section{
  float: left;
  position: relative;
  width: 50%;
}

.footer div section div, .footer div aside div{
  background: #fff;
  width: 12%;
  height: 5px;
  border-radius: 50px;
  margin-right: 30px;
  display: inline-block;
}

.footer div section div {
  float: left;
   left: 20px;
}

.footer div aside div {
  float: right;
}

.footer div aside{
  float: right;
  position: relative;
  width: 50%;
  text-align: left;
}

@media (max-width: 600px) {

  .body {
    height: auto !important;
    position: relative;
  }

  .img {
    width: 100% !important;
    height: 100%;
    top: 25vh;
    left: 0%;
  }

  .body img {
    margin-top: 6%;
    width: 25%;
    
  }

  .body p {
    top: 15vh;
    font-size: 30px;
  }

  .body nav img { 
    position: relative;
    top: 60vh;
    width: 80%;
    left: -5%;
  }
  

  .footer div section div, .footer div aside div{
    width: 15%;
  }

  .footer div aside div {
    margin-right: 0px;
  }

  .footer div section div {
    margin-right: 10px ;
  }
}

/* @media (max-width: 915px ) and (min-width: 744px) {
  .body p {
    font-size: 2.5rem;
    letter-spacing: 2px;
    position: absolute;
  }

  .body nav img {
    top: 48vh;
  }

  .img {
    right: 0%;
  }

  .footer div aside{
    float: right;
    left: 4.5%;
  }
  
} */


