
 /* bg layout */
.bg {
  padding: 0;
  margin: 0;
  background:url("../public/bg.webp")rgba(0, 0, 0, 0.5);
  background-size:cover;
  background-blend-mode: multiply;
}

 .main {
  width: 90vmax;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2.5rem;
}

.container {
  display: flex;
  flex-direction: column;
}

.logo img{
  width: 140px !important;
}

.slogan p{
  margin-top: 24%;
  font-size: 50px;
  letter-spacing: 3px;
  color: #fff;
}

.googlePlay img{
  margin-top: -10%;
  margin-left: -5px;
  width: 200px !important;
  cursor: pointer;
}

.containerr {
  position: flex;

}
.containerr img{
  width: 300px !important;
  height: 500px;
}

.footer{
  width: 97vmax;
  display: flex;
  justify-content: space-between;
  padding: 2.2rem 2.5rem;
}

.leftPoint {
  display: flex;
  width: 35%;
}

.leftPoint  div, .rightPoint div{
  background: #fff;
  width: 20%;
  height: 5px;
  border-radius: 50px;
  margin-right: 30px;
}

.rightPoint div{
  display: flex;
  width: 70px;
}

.googlePlayMobile { display: none;}

@media (max-width: 600px) {
  .footer { display: none; }
  .main { display: none; }

  .main {
    width: 100%;
    padding: 1rem 0.5rem;
    flex-direction: column;
  }

  .logo img {
    width: 90px !important;
  }

  .slogan p{
    margin-top: 50px;
    font-size: 35px;
    letter-spacing: 1px;
    color: #fff;
  } 

  .googlePlay {
    display: none;
  }

  .containerr img {
    width: 105% !important;
    height: auto;
  }

  .googlePlayMobile {
    display: block; 
  }

  .googlePlayMobile {    
    display: flex;
    justify-content: center;
    align-items: center; 
  }

  .googlePlayMobile img{
    width: 70% !important;
    height: 200px;
    margin-top: -70px;
    margin-bottom: -70px;
  }
  
  /* .footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0.1rem;
    
  }

  .leftPoint  div, .rightPoint div{
    background: #fff;
    height: 5px;
    border-radius: 10px;
    margin-right: 9px;
  }
  
  .leftPoint {
    width: 200px;
  }
  .rightPoint div {
    width: 40px;
  } */


  /* feature */
}
